body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: darkseagreen;
}

.quem-somos {
    background-color: #d5eec0;
    color: black;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.qs-text {
    padding-top: 50px;
}

.parceiros {
    background-color: #D4EFD6;
}

.servicos {
    background-color: #dff1df;
}

.bg-footer {
    padding: 16px;
    background-color: darkseagreen;
    color: black;
}